@import "types.css?1";

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #3A6EA5 url("http://content.pouet.net/gfx/trumpet.gif");
  font-size : 9pt;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
}

a {
  color : #9FCFFF;
  text-decoration : none;
}
a:hover {
  text-decoration : underline;
}
img {
  -moz-force-broken-image-icon: 1;
  border: 0px;
}
input, select, option {
  font-size : 9pt;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
}
textarea {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  padding: 2px;
}
select[multiple="multiple"], select[multiple="multiple"] option {
  display: block;
  padding: 1px;
}

input {
  padding: 2px;
}

input[type="submit"][value="Submit"],
input[type="submit"][value="submit"] {
  background: url("http://content.pouet.net/gfx/submit.gif") top left no-repeat;
  width: 45px;
  height: 18px;
  overflow: hidden;
  text-indent: -90px;
  border: 0px;
  cursor: hand;
  cursor: pointer;
  color: transparent;
}

input[type="submit"][value="preview"],
input[type="submit"][value="Preview"],
#submitPreview {
  background: url("http://content.pouet.net/gfx/preview.gif") top left no-repeat;
  margin-right: 3px;
  width: 45px;
  height: 18px;
  overflow: hidden;
  text-indent: -90px;
  border: 0px;
  cursor: hand;
  cursor: pointer;
  color: transparent;
}

header {
  text-align:center;
  margin-top: 10px;
}
header p {
  margin: 0px;
}
header h1 {
  display: none;
}
header a img {
  border: 0px;
}
footer {
  text-align:center;
  margin-bottom: 10px;
}
#content {
  margin: 5px;
  text-align: center;
}
#leftbar {
  width: 22%;
  display: table-cell;
  padding: 10px 1.5%;
}
#middlebar {
  width: 56%;
  display: table-cell;
  padding: 10px 1.5%;
}
#rightbar {
  width: 22%;
  display: table-cell;
  padding: 10px 1.5%;
}

nav {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width:100%;
  background-color: #224488;
  text-align:center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  font-weight: bold;
  clear: both;
}

nav ul {
  margin: 0px;
  padding: 3px;
}
nav li {
  display: inline;
  background: url("http://content.pouet.net/gfx/white4.gif") center right no-repeat;
  padding-right: 9px;
}
nav li:first-child {
  background: url("http://content.pouet.net/gfx/white4.gif") center left no-repeat, url("http://content.pouet.net/gfx/white4.gif") center right no-repeat;
  padding-left: 9px;
}
nav li a:first-letter {
  color: #9FCFFF;
}
nav li a.adminlink:first-letter {
  color: #FFCF9F;
}
nav li a {
  display: inline-block;
  color: white;
}

.pouettbl {
  background: #000000;
  border: 0px;
  margin: 0px auto 20px;
  /*width: 90%;*/
  padding: 1px;
  display: table;
  text-align: left;
}

#content.frontpage {
  display: table;
  margin: 0 auto;
  width: 100%;
}

.frontpage .pouettbl {
  display: block;
}

.pouettbl h2 {
  background: #224488;
  color: #ffffff;
  padding: 3px;
  border: 0px;
  margin: 1px;
  text-align: left;
  font-size: 100%;
}

.boxtable {
  background: #000000;
  padding: 0px;
  border: 1px solid black;
  margin: 0px auto 20px;
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
}

.pouettbl .boxtable {
  border: 0px;
  width: 100%;
  margin-top: -1px;
  margin-bottom: 0px;
}

.pouettbl .boxtable + .foot,
.pouettbl .boxtable + .letterselect
{
  margin-top: 0px;
}

.pouettbl .boxlisttable + .foot,
.pouettbl .boxlisttable + .letterselect
{
  margin-top: 0px;
}

.boxtable td {
  margin: 0px;
  padding: 2px;
  border: 0px;
  background: #446688;
}

.boxtable th {
  background: #224488;
  padding: 5px;
}

.pouettbl .boxlist {
  padding: 0px;
  border: 0px;
  margin: 0px;
  list-style: none;
}

.pouettbl .boxlist li {
  margin: 1px;
  padding: 2px;
}

.pouettbl .sort {
  text-align: left;
  height: 25px;
}

.pouettbl .sort a {
  background: url("http://content.pouet.net/gfx/arrow.gif") top left no-repeat;
  padding-left: 15px;
  margin-right: 15px;
}

.pouettbl .content {
  background: #446688;
  color: #ffffff;
  border: 1px solid black;
  padding: 2px;
  border: 0px;
  margin: 1px;
  vertical-align: middle;
}


.foot, .boxtable td.foot {
  background: #6688AA;
  padding: 2px;
  border: 0px;
  margin: 1px;
  font-weight: bold;
}

.pouettbl .foot {
  clear:both;
  text-align: right;
}


.boxlist > *:nth-child(odd), 
.boxtable tr:nth-child(odd) td,
#partytable tr:nth-child(odd) td,
td.r1 
{
  background: #446688;
}
.boxlist > *:nth-child(even), 
.boxtable tr:nth-child(even) td,
#partytable tr:nth-child(even) td,
td.r2 
{
  background: #557799;
}

td.date {
  text-align: right;
}


.adminlink {
    color: #FFAF1F;
}


.center {
  text-align: center;
}

.group {
  display: block;
  text-transform: lowercase;
  clear: both;
}

.prod {
  font-weight: bold;
  text-transform: lowercase;
}
.prodentry .prod {
  vertical-align: middle;
}
#pouetbox_latestoneliner h2 {
  padding-left: 22px;
  padding-bottom: 2px;
  background: #224488 url("http://content.pouet.net/gfx/titles/talk.gif") top left no-repeat;
  background-position:2px 2px;
}

#pouetbox_search h2 {
  padding-left: 22px;
  padding-bottom: 2px;
  background: #224488 url("http://content.pouet.net/gfx/titles/search.gif") top left no-repeat;
  background-position:2px 2px;
}

#pouetbox_stats {
  width: 100%;
}
#pouetbox_stats th.header {
  padding: 0px;
  padding-left: 22px;
  padding-bottom: 2px;
  background: #224488 url("http://content.pouet.net/gfx/titles/stats.gif") top left no-repeat;
  background-position:2px 2px;
  text-align: left;
}
#pouetbox_stats td:nth-child(2), 
#pouetbox_stats th:nth-child(2) {
  text-align: right;
}

#pouetbox_cdc h2 {
  padding-left: 22px;
  padding-bottom: 2px;
  background: #224488 url("http://content.pouet.net/gfx/titles/coupdecoeur.gif") top left no-repeat;
  background-position:2px 2px;
}

#pouetbox_upcomingparties h2 {
  padding-left: 22px;
  padding-bottom: 2px;
  background: #224488 url("http://content.pouet.net/gfx/titles/dpnet.gif") top left no-repeat;
  background-position:2px 2px;
}

.pouetbox_newsbox h3 {
  padding: 3px;
  border: 0px;
  margin: 1px;

  padding-left: 22px;
  padding-bottom: 2px;

  background: #224488 url("http://content.pouet.net/gfx/titles/bitfellas.gif") top left no-repeat;
  background-position:2px 2px;
  color: #ffffff;

  font-size: 100%;
}
.pouetbox_newsbox .foot {
  font-weight: normal;
}
#pouetbox_stats .stat {
  text-align: right;
}

.content li {
  margin-left: 40px;
  /*clear: both;*/
}
.pouetbox_newsbox .content p {
  margin-top: 10px;
  margin-bottom: 10px;
}


.typeiconlist {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}
.platformiconlist {
  display: inline-block;
  float: right;
  margin-left: 4px;
  vertical-align: middle;
}

.platform, .platformi {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  line-height: 100px;
  background-image: url("http://content.pouet.net/gfx/types.png");
}
.platformi {
  float: right;
}
.platform span, .platformi span {
  display:none;
}
.type, .typei {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  overflow: hidden;
  line-height: 100px;
  background-image: url("http://content.pouet.net/gfx/types.png");
}
.typei {
  float: left;
}
.type span {
  display:none;
}

.user.online {
  background: url("http://content.pouet.net/gfx/online.gif") no-repeat scroll left 4px transparent;
  padding-left: 10px;
}

.user.banned {
  color: #FF4F4F;
  text-decoration: line-through;
}
.avatar {
  margin:0px;
  padding:0px;
  border:0px;
  vertical-align: -25%;
  width: 16px;
  height: 16px;
}
.center { text-align: center; }

#pouetbox_latestbbs .avatar {
  width: 16px;
  vertical-align: middle;
}
#pouetbox_latestbbs .category {
  width: 50px;
  padding-left: 5px;
  padding-right: 5px;
}
#pouetbox_latestbbs .topic {
  font-weight: bold;
}
#pouetbox_latestbbs .count {
  text-align: right;
  width: 40px;
}
.pouettbl .boxlisttable {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    margin: 0;
    margin-top: -1px;
}
.pouettbl .boxlisttable li {
    display: table-row;
}
.pouettbl .boxlisttable li > span.rowuser {
    text-align: right;
    width: 16px;
}
.pouettbl .boxlisttable li > span {
    display: table-cell;
    padding: 2px;
    word-break: break-all;
}
.pouettbl .boxlisttable li.r1 > span {
  background: #446688 !important;
}
.pouettbl .boxlisttable li.r2 > span {
  background: #557799 !important;
}

#prodpagecontainer {
  margin: 0px auto;
  max-width: 900px;
  display: table;
}

#pouetbox_latestoneliner .loggedin {
  text-align: center;  
}

#pouetbox_latestoneliner .loggedin span {
  float: right;
  margin-top: 3px;
}

#pouetbox_onelinerview li, #pouetbox_latestoneliner li, #pouetbox_prodcomments .content, #pouetbox_bbsview .content {
  overflow: hidden;
}

#pouetbox_prodmain {
  width: 100%;
  margin: 10px auto;
  background: black;
  border: 1px solid black;
}

#pouetbox_prodmain #alltimerank {
    font-size: 80%;
    margin: 5px;
}

#pouetbox_prodmain #nfo {
    float: right;
    margin-top: 6px;
}

#pouetbox_prodmain #partytable {
  border-collapse: collapse;
  text-align: left;
}
#pouetbox_prodmain #partytable th {
  background: #224488;
}

#pouetbox_prodmain #partytable td {
  padding: 1px;
}

#pouetbox_prodmain #partytable td, #pouetbox_prodmain #partytable th {
  border: 1px solid black;
  padding: 2px;
}

#pouetbox_prodmain ul {
  list-style: none;
}

#pouetbox_prodmain .header {
  background: #224488;
  padding: 3px;
  font-weight: bold;
}

#pouetbox_prodmain #prodbox {
    border-collapse: separate;
    clear: both;
    display: table;
    margin: 1px 0;
    width: 100%;
}
#pouetbox_prodmain #proddata {
  display: table-cell;
}
#pouetbox_prodmain #proddata > table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
  margin: -1px -1px -1px 0;
}
#pouetbox_prodmain #screenshot {
  display: table-cell;
  text-align:center;
  vertical-align: middle;
  background: #446688;
}

#pouetbox_prodmain td {
  background: #446688;
  padding: 2px;
}
#pouetbox_prodmain #credits, 
#pouetbox_prodmain td.r2 {
  background: #557799;
  text-align: center;
}
#pouetbox_prodmain .foot {
  margin: 0px;
  margin-top: 1px;
}
#pouetbox_prodmain big {
  font-size: 18px;
  font-weight: bold;
}

#pouetbox_prodmain #title {
}
#pouetbox_prodmain #otherlinks {
  float:right;
  margin-top:4px;
}

#pouetbox_prodmain #popularity {
  text-align:center;
  vertical-align: middle;
}

#pouetbox_prodmain .cenmid {
  text-align:center;
  vertical-align: middle;
}

#pouetbox_prodmain #stattable td {
  border: 0px;
  text-align:left;
  padding: 1px;
  vertical-align: top;
}

#pouetbox_prodmain #links {
  text-align:right;
  vertical-align: bottom;
}

#pouetbox_prodmain #links #mainDownloadLink {
    font-weight: bold;
}

#pouetbox_prodmain .foot {
  text-align: right;
  background: #6688AA;
  font-weight: normal;
}

#pouetbox_prodsneakycdcs {
  width: 100%;
}
.na {
  color: #9999AA;
}
.ordinal {
  color: #CCCCCC;
}
.asciiviewer .content {
    padding: 5px;
}

.asciiviewer #fontlist {
  background: #6688AA;
  text-align: center;
  font-weight: bold;
  padding: 2px;
}

.asciiviewer .foot {
  background: #224488;
}

.asciiviewer pre {
  text-shadow: 4px 4px #224466;
}
.asciiviewer pre::-moz-selection { text-shadow: none; background: white; color: #224466; }
.asciiviewer pre::-webkit-selection { text-shadow: none; background: white; color: #224466; }
.asciiviewer pre::selection { text-shadow: none; background: white; color: #224466; }

.outerbar {
  width: 100px;
  height: 16px;
  background: black;
  padding: 1px;
  margin: 5px auto;
  text-align:left;
}
.innerbar_solo {
  background: url('http://content.pouet.net/gfx/bar.gif') repeat-x;
  padding: 0px;
  margin: 0px 0px;
  height: 16px;
  border: 1px solid black;
}
.innerbar {
  background: url('http://content.pouet.net/gfx/bar.gif') repeat-x;
  padding: 0px;
  margin: 0px 0px;
  height: 16px;
}
.innerbar span, .innerbar_solo span {
  display: none;
}

#pouetbox_prodpopularityhelper {
  width: 100%;
  text-align: center;
}
#pouetbox_prodpopularityhelper input {
  text-align: center;
}
#pouetbox_prodsubmitchanges {
  width: 100%;
  text-align: center;
}

#pouetbox_bbsview, #pouetbox_onelinerview {
  width: 75%;
}

/*
#pouetbox_bbsview .navbar, #pouetbox_onelinerview .navbar, #pouetbox_prodcomments 
*/
.navbar {
  background: #224488;
  font-weight: bold;
  text-align: center;
  margin: 1px;
  color : #9FCFFF;
  height: 22px;
  clear: both;
}
#pouetbox_bbsview .blank {
  background: #224488;
  height: 16px;
}
/*
#pouetbox_prodcomments 
*/
.navbar {
  padding: 4px;
}
#pouetbox_bbsview .threadcategory
{
  background: #446688;
  text-align: center;
  padding: 2px;
  border: 0px;
  margin: 1px;
}

#pouetbox_bbsview .foot .tools {
  display:none;
}
#pouetbox_bbsview .foot:hover .tools {
  display:inline;
}

.prevpage {
  float: left;
  margin: 4px;
  padding-left: 16px;
  background: #224488 url("http://content.pouet.net/gfx/flecheg.gif") top left no-repeat;
}

.nextpage {
  float: right;
  margin: 4px;
  padding-right: 16px;
  background: #224488 url("http://content.pouet.net/gfx/fleched.gif") top right no-repeat;
}

#pouetbox_bbsview .selector {
  width: 320px;
  margin: 0px auto;
}

#pouetbox_bbsview h2 {
  text-align: center;
}

#pouetbox_bbsview img, #pouetbox_prodcomments img {
  max-width: 95%;
}

#pouetbox_prodcomments {
  display: block;
  width: 100%;
  max-width: 900px;
}

#pouetbox_bbsview {
  display: block;
  width: 75%;
}

#pouetbox_prodcomments img {
  max-width: 95%;
}

#pouetbox_prodcomments .foot, #pouetbox_bbsview .foot {
  font-weight: normal;
}

#pouetbox_prodcomments div:target, #pouetbox_bbsview div:target {
    border: 3px solid #88AACC;
    padding: 5px;
}

#pouetbox_affilbutton .content {
  text-align: center;
}
#pouetbox_affilbutton img {
  border: 0px;
}
#pouetbox_usermain {
}

#pouetbox_usermain .content {
  min-height: 170px;
  min-width: 400px;
}

#pouetbox_usermain .bigavatar {
  float: right;
  padding: 5px;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
}
#pouetbox_usermain .bigavatar img {
  width: 160px;
  height: 160px;
}
#pouetbox_usermain #userdata {
  list-style: none;
  margin-bottom: 15px;
}
#pouetbox_usermain #userdata li span.field {
  width: 100px;
  text-align: right;
  font-weight: bold;
  display: inline-block;
}
#pouetbox_usermain #logolist li {
  background: #3A6EA5 url("http://content.pouet.net/gfx/trumpet.gif");
  text-align: center;
}
#pouetbox_usermain #logolist li .logo {
  display: table;
  margin: 0 auto;
  position: relative;
}
#pouetbox_usermain #logolist li .logo .logovotes {
  display: none;
  background: #224488;
  border: 1px solid black;
  bottom: 0;
  left: 0;
  padding: 2px;
  position: absolute;
}
#pouetbox_usermain #logolist li .logo:hover .logovotes {
  display: block;
}

#pouetbox_usermain .header {
  border: 0 none;
  color: #FFFFFF;
  font-style: italic;
  margin-top: 10px;
  padding: 3px;
  text-align: center;
  width: 200px;
}
#pouetbox_usermain .header span {
  font-weight: bold;
}
#pouetbox_usermain .foot {
  font-weight: normal;
}
#pouetbox_usermain .contribheader {
  background: #224488;
  margin: 1px;
  padding: 2px;
}
#pouetbox_usermain .contribheader span {
  color: #9999AA;
}
.vote {
  float: left;
  margin:0px;
  padding:0px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  line-height: 100px;
  margin-right: 3px;
}
.vote.rulez { background: url("http://content.pouet.net/gfx/rulez.gif") top left no-repeat; }
.vote.sucks { background: url("http://content.pouet.net/gfx/sucks.gif") top left no-repeat; }
.vote.isok { background: url("http://content.pouet.net/gfx/isok.gif") top left no-repeat; }
.vote.cdc { background: url("http://content.pouet.net/gfx/titles/coupdecoeur.gif") top left no-repeat; }

/*
#pouetbox_groupmain, #pouetbox_prodlist {
  margin: 10px auto;
  background: black;
  border: 1px solid black;
  border-collapse: separate;
  border-spacing: 1px;
}

#pouetbox_groupmain th, #pouetbox_prodlist th {
  background: #224488;
  padding: 2px;
}

#pouetbox_groupmain td, #pouetbox_prodlist td {
  padding: 2px;
}
*/

.boxtable.pagedtable td.nav {
  background: #224488;
  font-weight: bold;
  text-align: center;
  margin: 1px;
  color : #9FCFFF;
}

#pouetbox_groupmain th#groupname {
  text-align: center;
}

#pouetbox_groupmain big {
  font-size: 18px;
  font-weight: bold;
}

#pouetbox_groupmain #adminlinks {
    float: right;
}


#pouetbox_groupmain #title {
  float:left;
}
#pouetbox_groupmain .foot, #pouetbox_bbspost .foot {
  font-weight: normal;
  background: #224488;
}
#pouetbox_groupmain #otherlinks {
  float:right;
  margin-top:4px;
}

#pouetbox_groupmain .cenmid {
  text-align:center;
  vertical-align: middle;
}

#pouetbox_groupmain #stattable td {
  border: 0px;
  text-align:left;
  padding: 1px;
}

#pouetbox_groupmain #links {
  text-align:right;
  vertical-align: bottom;
}

#pouetbox_groupmain #screenshot {
  text-align:center;
  vertical-align: middle;
  width: 400px;
  height: 300px;
}

#pouetbox_groupmain .foot {
  text-align: right;
}

#pouetbox_bbsopen, #pouetbox_bbspost {
  width:450px;
  margin: 0px auto;
}

#pouetbox_bbsopen .content, #pouetbox_bbspost .content {
  padding: 5px;
}

#pouetbox_bbsopen textarea, #pouetbox_bbspost textarea {
  width: 500px;
  height: 200px;
}
#pouetbox_bbsopen #topic {
  width: 300px;
}
#pouetbox_bbsopen label {
  display: block;
}

#pouetbox_bbspost #submitPreview {
  background: url("http://content.pouet.net/gfx/previewdxm.gif") top left no-repeat;
}

.bbs_code, .bbs_quote {
	margin-left: 2em;
	margin-right: 2em;
	margin-top: .5em;
	margin-bottom: .5em;
	display: block;
}
.bbs_quote blockquote, .bbs_code code  {
/*	width: 85%; -- unsure why this was here */
	border: 1px solid #8ac;
	background-color: #579;
	padding: .5em;
	margin-top: .5em;
	display: block;
}

#pouetbox_prodpost {
  width: 100%;
  margin: 0px auto;
  text-align: center;
}

#pouetbox_prodpost textarea {
  width: 435px;
  height: 200px;
}

#pouetbox_prodpost #prodvote {
  margin: 3px;
  vertical-align: middle;
}

#pouetbox_prodpost #prodvote label {
  margin-right: 10px;
  padding-left: 20px;
  vertical-align: middle;
  display: inline-block;
  height: 16px;
}
#pouetbox_prodpost #prodvote input {
  vertical-align: middle;
}
#pouetbox_prodpost #prodvote label[for="ratingrulez"] { background: url("http://content.pouet.net/gfx/rulez.gif") top left no-repeat; }
#pouetbox_prodpost #prodvote label[for="ratingpig"] { background: url("http://content.pouet.net/gfx/isok.gif") top left no-repeat; }
#pouetbox_prodpost #prodvote label[for="ratingsucks"] { background: url("http://content.pouet.net/gfx/sucks.gif") top left no-repeat; }

#pouetbox_grouplist, #pouetbox_partylist
{
  width: 50%;
}

#pouetbox_grouplist ul {
  list-style: none;
}
.letterselect {
  text-align: center;
  background: #224488;
  color: #ffffff;
  padding: 3px;
  border: 0px;
  margin: 1px;
  font-size: 100%;
  font-weight: bold;
}
#pouetbox_grouplist td {
  vertical-align: top;
}
#pouetbox_grouplist td.groupname {
  font-weight: bold;
}
#pouetbox_partylist td.partyname {
  font-weight: bold;
}
#pouetbox_modalmessage {
  width: 400px;
}
tr.sortable th {
  text-align: left;
}
tr.sortable th #sort_platform {
  float: right;
}
tr.sortable th a {
  background: url("http://content.pouet.net/gfx/fleche1b.gif") no-repeat;
  background-position: 0px 2px;
  padding-left: 16px;
}
tr.sortable th a.selected {
  background-image: url("http://content.pouet.net/gfx/fleche1a.gif");
}
tr.sortable th a.reverse {
  background-image: url("http://content.pouet.net/gfx/fleche2b.gif");
}
tr.sortable th a.reverse.selected {
  background-image: url("http://content.pouet.net/gfx/fleche2a.gif");
}
tr.sortable th #sort_thumbup,
tr.sortable th #sort_thumbpig,
tr.sortable th #sort_thumbdown {
  background: none;
  padding-left: 0px;
}

#pouetbox_bbslist .topic {
  font-weight: bold;
}
#pouetbox_bbslist h2 {
  text-align: center;
}

#pouetbox_bbslist #categoryFilter {
  font-size: 80%;
  margin-left: 5px;
}

#pouetbox_partyview td.prod, #pouetbox_partyview td.prod * {
  font-weight: normal;
}
#pouetbox_partyview td.prod .group {
  display: inline;
}

#pouetbox_partyheader, #pouetbox_searchmain, #pouetbox_account {
  display: table;
  width: auto;
}
#pouetbox_partyheader > * {
  background: #224488;
  text-align: center;
  padding: 2px;
}
#pouetbox_partyheader .content {
  font-weight: bold;
}
#pouetbox_partyheader .yearselect {
  margin: 1px;
}
#pouetbox_partyheader .foot {
  font-weight: normal;
  text-align: right;
}
#pouetbox_searchmain input {
  vertical-align: middle;
}
#pouetbox_partyheader .submitadditional {
  font-size: 90%;
}

.votes {
  text-align: right;
}

.cdcstack {
  display: inline;
  vertical-align: middle;
}
.awards {
  display: inline;
  vertical-align: middle;
  margin-left: 5px;
}

#pouetbox_latestparties, #pouetbox_upcomingparties {
  text-transform: lowercase;
}
#pouetbox_latestparties ul, #pouetbox_upcomingparties ul {
  border-spacing: 1px;
  display: table;
  width: 100%;
  margin-top: -1px;
  margin-bottom: -1px;
}
#pouetbox_latestparties li, #pouetbox_upcomingparties li {
  display: table-row;
}
#pouetbox_latestparties li > *, #pouetbox_upcomingparties li > * {
  display: table-cell;
  padding: 2px;
}
#pouetbox_latestparties .releasecount, #pouetbox_upcomingparties .timeleft {
  text-align: right;
}
.pagedtable .name {
  font-weight: bold;
}
#pouetbox_search .content {
  background: #557799;
}
#pouetbox_search .content.buttons {
  background: #446688;
}
#pouetbox_search input[type="text"] {
    width: 80%;
}
#pouetbox_search #searchType {
  list-style: none;
}
#pouetbox_search #searchType li {
  display: inline-block;
  margin: 1px;
}
#pouetbox_searchbbs .searchhighlight {
  background: yellow;
  color: black;
}

.formifier .row {
  display: table-row;
}

.formifier .row > * {
  display: table-cell;
  margin: 3px;
  vertical-align: middle;
}
.formifier .row .static {
  font-weight: bold;
}
.formifier #row_login div {
  font-weight: bold;
  padding: 5px;
}
.formifier #row_avatar select {
  margin: 3px;
  width: 250px;
}

.formifier .row > label {
  text-align: right;
  padding: 5px;
  width: 150px;
}
.formifier .row > span {
  font-style: italic;
  padding: 5px;
}
.formifier .row > input {
  width: 250px;
}
.formifier .row > textarea {
  width: 250px;
  height: 150px;
}
.formifier .row > input[type="checkbox"] {
  width: auto;
  vertical-align: middle;
}
input[type="url"] {
  width: 400px;
}
.formifier .row > span span.req {
  color: #FF8888;
  font-weight: bold;
}
.formifier .row .formdate {
  text-transform: lowercase;
  padding: 3px;
}

#pouetbox_account #customizer .formifier .row > label {
  width: 250px;
}

#pouetbox_account #customizer .formifier .row > input {
  width: 50px;
}

#pouetbox_mirrors {
  width: 50%;
}

#pouetbox_mirrors ul {
  margin-left: 20px;
}

.autocompleteList {
  border: 1px solid white;
  position: absolute;
  list-style:none;
  z-index: 20;
  background: #446688;
}
.autocompleteList li {
  padding: 3px;
  margin: 0px;
  overflow: hidden;
  white-space: pre;
}
.autocompleteList li.selected {
  font-weight: bold;
  background: #557799;
}
.autocompleteList li:hover {
  background: #6688AA;
  cursor: pointer;
}
.autocompleteSelection span {
  font-weight:bold;
}

#row_platform select[multiple], #row_type select[multiple] {
  height: 150px;
}

#row_csdbID input,
#row_sceneOrgID input,
#row_slengpungID input,
#row_zxdemoID input
{
  width: 100px;
}

input.autocompleteSearch {
  width: 200px !important;
  background: white url('http://content.pouet.net/gfx/autocomplete.png') center right no-repeat;
}


.submitWarning {
    color: #FF8888;
    font-weight: bold;
    margin-left: 170px;
    padding: 5px;
}

#pouetbox_usermain h2 {
    font-weight: normal;
}
#pouetbox_usermain h2 * {
    vertical-align: text-bottom;
}
#pouetbox_usermain h2 span {
    font-weight: bold;
}
#pouetbox_usermain #glops {
    font-weight: normal;
    float: right;
    margin-top: 2px;
    color: #9999AA;
}
#pouetbox_usermain h2 #glops span {
    font-weight: bold;
    color: white;
}

.pouettbl.errorbox h2 {
  background: #883022;
}
.pouettbl.errorbox .content {
  background: #884446;
  text-align: center;
}
.pouettbl.errorbox a {
  color: #FF8888;
}
.pouettbl.errorbox .foot {
  background: #AA5555;
}

.pouettbl.successbox h2 {
  background: #228830;
}
.pouettbl.successbox .content {
  background: #468844;
  text-align: center;
}
.pouettbl.successbox .content a {
  color: #88FF88;
}
#avatarlist > * 
{
  vertical-align: middle;
}
#pouetbox_avatargallery {
    width: 610px;
}
#avatargallery {
    list-style: none;
}
#avatargallery li {
    display: inline-block;
    margin: 10px;
}
#pouetbox_submitavatar {
    width: 610px;
}
#pouetbox_submitavatar .content {
    padding: 10px;
}
#avatarexample {
    float: right;
    margin: 30px;
}

#successOverlay, #errorOverlay {
    border: 1px solid black;
    font-size: 120%;
    font-weight: bold;
    left: 50%;
    margin-left: -150px;
    padding: 10px;
    position: fixed;
    text-align: center;
    top: 200px;
    width: 300px;
}
#successOverlay {
    background: #228830;
}
#errorOverlay {
    background: #882230;
}

#pouetbox_sceneorgawards h2 {
    text-align: center;
}
#pouetbox_sceneorgawards th.year {
    font-size: 130%;
}
#pouetbox_sceneorgawards td > * {
    vertical-align: middle;
}

#pouetbox_buttons {
  width: 50%;
}
#pouetbox_buttons .content:after {
    clear: both;
    content: " ";
    display: block;
}
#pouetbox_buttons h2 {
  clear: both;
}
#pouetbox_buttons img {
  border: 0px;
}
#pouetbox_buttons li {
  margin: 3px; 
  float: left;
  width: 88px; 
  height: 31px; 
  overflow: hidden;
}

#pouetbox_faq {
  width: 75%;
}

#pouetbox_faq .content ul {
  margin-bottom: 20px;
  list-style: none;
}

#pouetbox_faq .content li {
  margin-left: 5px;
}

#pouetbox_faq .content li:before {
  content: "--> ";
}

#pouetbox_faq dt {
  background: #446688;
  font-weight: bold;
  margin: 0px 1px;
  padding: 3px;
  text-transform: lowercase;
}

#pouetbox_faq dd {
  background: #557799;
  padding: 5px;
  padding-left: 30px;
  margin: 1px;
}

#pouetbox_faq dd ul {
  padding-left: 30px;
}

#demoblog .blogprod {
  background: #224488;
}
#demoblog .blogcomment {
  background: #446688;
}
#demoblog .blogvote {
  background: #557799;
  text-align: right;
  height: 16px;
}

#pouetbox_boardlist .boardname {
  font-weight: bold;
}

#pouetbox_boardmain #boardname, #pouetbox_listsmain #listsname {
  background: #224488;
  color: #ffffff;
  padding: 3px;
  border: 0px;
  margin: 1px;
  text-align: center;
  font-weight: bold;
}

#pouetbox_boardmain #body {
  display: table;
  border-collapse: separate;
  border-spacing: 1px;
  width: 100%;
  margin-top: -1px;
  margin-bottom: -1px;
}

#pouetbox_boardmain .foot {
  font-weight: normal;
}

#pouetbox_boardmain #body > div {
  vertical-align: top;
  display: table-cell;
  background: #446688;
  width: 50%;
}
#pouetbox_boardmain ul {
  list-style: none;
}
#pouetbox_boardmain td {
  vertical-align: top;
  padding: 3px;
}

#pouetbox_listsmain .boxlisttable {
  margin-bottom: -1px;
}
#pouetbox_listsmain .foot {
  margin-top: 1px;
  font-weight: normal;
}

.logovote .content {
  background: #3A6EA5 url("http://content.pouet.net/gfx/trumpet.gif");
}

#pouetbox_toplist .selector {
  padding: 4px;
  background: #224488;
  margin: 1px;
}

#pouetbox_modalmessage .content h3 {
  margin: 15px;
}

#credits ul {
  list-style: none;
  text-align: left;
  padding: 2px;
}

#credits ul li {
  display: inline-block;
  margin: 2px 8px;
}

#pouetbox_login .content {
  text-align: center;
}

#pouetbox_login .loggedin .user {
  padding: 0px;
  background: none;
  font-weight: bold;
}

#pouetbox_login .notifications
{
  background: #557799;
  font-weight: bold;
}

#testbanner {
    background: none repeat scroll 0 0 #AA5555;
    border: 2px solid black;
    color: #FFFFFF;
    font-weight: bold;
    height: 60px;
    opacity: 0.8;
    padding: 10px;
    position: fixed;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 60px;
    z-index: 10;
}

.autocompleteList li .glops
{
  color: #9999AA;
}