@import "types.css?1";

* {
  margin: 0px;
  padding: 0px;
}

body {
  background: #3A6EA5 url("http://content.pouet.net/gfx/trumpet.gif");
  font-size : 9pt;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
}

a {
  color : #9FCFFF;
  text-decoration : none;
}
a:hover {
  text-decoration : underline;
}
img {
  -moz-force-broken-image-icon: 1;
}
input, select, option {
  font-size : 9pt;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
}
textarea {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  padding: 2px;
}
select[multiple="multiple"], select[multiple="multiple"] option {
  display: block;
  padding: 1px;
}

input {
  padding: 2px;
}

input[type="submit"][value="Submit"],
input[type="submit"][value="submit"] {
  background: url("http://content.pouet.net/gfx/submit.gif") top left no-repeat;
  width: 45px;
  height: 18px;
  overflow: hidden;
  text-indent: -90px;
  border: 0px;
  cursor: hand;
  cursor: pointer;
  color: transparent;
}

input[type="submit"][value="preview"],
input[type="submit"][value="Preview"],
#submitPreview {
  background: url("http://content.pouet.net/gfx/preview.gif") top left no-repeat;
  margin-right: 3px;
  width: 45px;
  height: 18px;
  overflow: hidden;
  text-indent: -90px;
  border: 0px;
  cursor: hand;
  cursor: pointer;
  color: transparent;
}

header {
  text-align:center;
  margin-top: 10px;
}
header p {
  margin: 0px;
}
header h1 {
  display: none;
}
header a img {
  border: 0px;
}
footer {
  text-align:center;
  margin-bottom: 10px;
}
#content {
  margin: 5px;
  text-align: center;
}
#leftbar {
  width: 22%;
  display: table-cell;
  padding: 10px 1.5%;
}
#middlebar {
  width: 56%;
  display: table-cell;
  padding: 10px 1.5%;
}
#rightbar {
  width: 22%;
  display: table-cell;
  padding: 10px 1.5%;
}

nav {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width:100%;
  background-color: #224488;
  text-align:center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  font-weight: bold;
  clear: both;
}

nav ul {
  margin: 0px;
  padding: 3px;
}
nav li {
  display: inline;
  background: url("http://content.pouet.net/gfx/white4.gif") center right no-repeat;
  padding-right: 9px;
}
nav li:first-child {
  background: url("http://content.pouet.net/gfx/white4.gif") center left no-repeat, url("http://content.pouet.net/gfx/white4.gif") center right no-repeat;
  padding-left: 9px;
}
nav li a:first-letter {
  color: #9FCFFF;
}
nav li a.adminlink:first-letter {
  color: #FFCF9F;
}
nav li a {
  display: inline-block;
  color: white;
}

.pouettbl {
  background: #000000;
  border: 0px;
  margin: 0px auto 20px;
  /*width: 90%;*/
  padding: 1px;
  display: table;
  text-align: left;
}

.frontpage .pouettbl {
  display: block;
}

.pouettbl h2 {
  background: #224488;
  color: #ffffff;
  padding: 3px;
  border: 0px;
  margin: 1px;
  text-align: left;
  font-size: 100%;
}

.boxtable {
  background: #000000;
  padding: 0px;
  border: 1px solid black;
  margin: 0px auto 20px;
  border-collapse: separate;
  border-spacing: 1px;
  text-align: left;
}

.pouettbl .boxtable {
  border: 0px;
  width: 100%;
  margin-top: -1px;
  margin-bottom: 0px;
}

.pouettbl .boxtable + .foot,
.pouettbl .boxtable + .letterselect
{
  margin-top: 0px;
}

.pouettbl .boxlisttable + .foot,
.pouettbl .boxlisttable + .letterselect
{
  margin-top: 0px;
}

.boxtable td {
  margin: 0px;
  padding: 2px;
  border: 0px;
  background: #446688;
}

.boxtable th {
  background: #224488;
  padding: 5px;
}

.pouettbl .boxlist {
  padding: 0px;
  border: 0px;
  margin: 0px;
  list-style: none;
}

.pouettbl .boxlist li {
  margin: 1px;
  padding: 2px;
}

.pouettbl .sort {
  text-align: left;
  height: 25px;
}

.pouettbl .sort a {
  background: url("http://content.pouet.net/gfx/arrow.gif") top left no-repeat;
  padding-left: 15px;
  margin-right: 15px;
}

.pouettbl .content {
  background: #446688;
  color: #ffffff;
  border: 1px solid black;
  padding: 2px;
  border: 0px;
  margin: 1px;
  vertical-align: middle;
}


.foot, .boxtable td.foot {
  background: #6688AA;
  padding: 2px;
  border: 0px;
  margin: 1px;
  font-weight: bold;
}

.pouettbl .foot {
  clear:both;
  text-align: right;
}


.boxlist > *:nth-child(odd), 
.boxtable tr:nth-child(odd) td,
#partytable tr:nth-child(odd) td,
td.r1 
{
  background: #446688;
}
.boxlist > *:nth-child(even), 
.boxtable tr:nth-child(even) td,
#partytable tr:nth-child(even) td,
td.r2 
{
  background: #557799;
}

td.date {
  text-align: right;
}


.adminlink {
    color: #FFAF1F;
}


.center {
  text-align: center;
}

.group {
  display: block;
  text-transform: lowercase;
  clear: both;
}

.prod {
  font-weight: bold;
  text-transform: lowercase;
}
.prodentry .prod {
  vertical-align: middle;
}
#pouetbox_latestoneliner h2 {
  padding-left: 22px;
  padding-bottom: 2px;
  background: #224488 url("http://content.pouet.net/gfx/titles/talk.gif") top left no-repeat;
  background-position:2px 2px;
}

#pouetbox_search h2 {
  padding-left: 22px;
  padding-bottom: 2px;
  background: #224488 url("http://content.pouet.net/gfx/titles/search.gif") top left no-repeat;
  background-position:2px 2px;
}

#pouetbox_stats {
  width: 100%;
}
#pouetbox_stats th.header {
  padding: 0px;
  padding-left: 22px;
  padding-bottom: 2px;
  background: #224488 url("http://content.pouet.net/gfx/titles/stats.gif") top left no-repeat;
  background-position:2px 2px;
}
#pouetbox_stats td:nth-child(2), 
#pouetbox_stats th:nth-child(2) {
  text-align: right;
}

#pouetbox_cdc h2 {
  padding-left: 22px;
  padding-bottom: 2px;
  background: #224488 url("http://content.pouet.net/gfx/titles/coupdecoeur.gif") top left no-repeat;
  background-position:2px 2px;
}

#pouetbox_upcomingparties h2 {
  padding-left: 22px;
  padding-bottom: 2px;
  background: #224488 url("http://content.pouet.net/gfx/titles/dpnet.gif") top left no-repeat;
  background-position:2px 2px;
}

.pouetbox_newsbox h3 {
  padding: 3px;
  border: 0px;
  margin: 1px;

  padding-left: 22px;
  padding-bottom: 2px;

  background: #224488 url("http://content.pouet.net/gfx/titles/bitfellas.gif") top left no-repeat;
  background-position:2px 2px;
  color: #ffffff;

  font-size: 100%;
}
.pouetbox_newsbox .foot {
  font-weight: normal;
}
#pouetbox_stats .stat {
  text-align: right;
}

.content li {
  margin-left: 40px;
  /*clear: both;*/
}
.pouetbox_newsbox .content p {
  margin-top: 10px;
  margin-bottom: 10px;
}


.typeiconlist {
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}
.platformiconlist {
  display: inline-block;
  float: right;
  margin-left: 4px;
  vertical-align: middle;
}

.platform, .platformi {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  line-height: 100px;
  background-image: url("http://content.pouet.net/gfx/types.png");
}
.platformi {
  float: right;
}
.platform span, .platformi span {
  display:none;
}
.type, .typei {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: middle;
  overflow: hidden;
  line-height: 100px;
  background-image: url("http://content.pouet.net/gfx/types.png");
}
.typei {
  float: left;
}
.type span {
  display:none;
}

.user.online {
  background: url("http://content.pouet.net/gfx/online.gif") no-repeat scroll left 4px transparent;
  padding-left: 10px;
}

.user.banned {
  color: #FF4F4F;
  text-decoration: line-through;
}
.avatar {
  margin:0px;
  padding:0px;
  border:0px;
  vertical-align: -25%;
  width: 16px;
  height: 16px;
}
.center { text-align: center; }

#pouetbox_latestbbs .avatar {
  width: 16px;
  ve