<?php
// MySQL
define("SQL_HOST","");
define("SQL_USERNAME","");
define("SQL_PASSWORD","");
define("SQL_DATABASE","");

// reCaptcha Mailhide
// get it here: http://www.google.com/recaptcha/mailhide/apikey
define('CAPTCHA_MAILHIDE_PUBLICKEY', '');
define('CAPTCHA_MAILHIDE_PRIVATEKEY', '');

// reCaptcha API key
// get it here: https://www.google.com/recaptcha/admin/create
define('CAPTCHA_PUBLICKEY',  '');
define('CAPTCHA_PRIVATEKEY', '');

// SceneID API access
// get it here: https://id.scene.org/
define('SCENEID_USER', '');
define('SCENEID_PASS', '');
define('SCENEID_URL', '');

// change these values to your local settings so that the paths don't break
define('POUET_TEST', false);
define('POUET_ROOT_PATH', "/");
define('POUET_ROOT_URL', "http://pouet.net/");
define('POUET_CONTENT_URL', "http://content.pouet.net/");
define('POUET_CONTENT_LOCAL', "./");
?>