<?php
// MySQL
define("SQL_HOST","");
define("SQL_USERNAME","");
define("SQL_PASSWORD","");
define("SQL_DATABASE","");

// reCaptcha Mailhide
// get it here: http://www.google.com/recaptcha/mailhide/apikey
define('CAPTCHA_MAILHIDE_PUBLICKEY', '');
define('CAPTCHA_MAILHIDE_PRIVATEKEY', '');

// reCaptcha API key
// get it here: https://www.google.com/recaptcha/admin/create
define('CAPTCHA_PUBLICKEY',  '');
define('CAPTCHA_PRIVATEKEY', '');

// SceneID API access
// get it here: https://id.scene.org/
define('SCENEID_USER', '');
define('SCENEID_PASS', '');
define('SCENEID_URL', '');

// change these values to your local settings so that the paths don't break
define('POUET_TEST', false);
define('POUET_ROOT_PATH', "/");
define('POUET_COOKIE_DOMAIN', ".pouet.net");

// Environment specific
define('POUET_MOBILE_HOSTNAME', 'm.pouet.net');
define('POUET_WEB_HOSTNAME', 'www.pouet.net');
define('POUET_CONTENT_LOCAL', "/home/hosted/pouet/sites/content.pouet.net/");

// Dynamically defined constants
define('POUET_MOBILE', $_SERVER['HTTP_HOST'] == POUET_MOBILE_HOSTNAME);
define('POUET_ROOT_URL_SECURE', POUET_MOBILE ? 'https://'.POUET_MOBILE_HOSTNAME.POUET_ROOT_PATH : 'https://'.POUET_WEB_HOSTNAME.POUET_ROOT_PATH);
define('POUET_ROOT_URL', $_SERVER['REQUEST_SCHEME'].'://'.(POUET_MOBILE ? POUET_MOBILE_HOSTNAME : POUET_WEB_HOSTNAME).POUET_ROOT_PATH );
define('POUET_CONTENT_URL', POUET_MOBILE ? '//'.POUET_MOBILE_HOSTNAME.'/content/' : 'http://content.pouet.net/');
